<html>
<head>
</head>

<body>
<h1>
    Tablon de anuncios
</h1>
<ul>
    {{#requests}}
        <li>
            <a href="request_detail/{{requestId}}">{{name}}</a>
        </li>
    {{/requests}}
    {{^requests}}
        Todavia no hay pedidos que mostrar
    {{/requests}}
</ul>
<form action="/newRequest" method="post">
    <input type="hidden"  />
    <button>Edit form</button>
</form>
<button formaction="newRequest" name="submit" formmethod="post" type="submit" value="submit-true">
    Create new Request
</button>
<a href="newRequest" methods="post">Create New Request</a>
</body>
</html>