<html>
<body>
<h1>
    Request:{{#request}}{{name}}{{/request}}
</h1>
<h2>
    Elements:
</h2>
<div>
    {{#elements}}
        <li>
            {{name}}
        </li>
    {{/elements}}
</div>
<div>
    <a href="/">Back</a>
</div>
</body>
</html>