<html>
<body>
<h1>
    Request:{{#request}}{{name}}{{/request}}
</h1>
<h2>
    Elements:
</h2>
<div>
    {{#elements}}
        <li>
            {{name}}
        </li>
    {{/elements}}
</div>
<div>
    <form action="/newRequest" method="post">
        <input type="hidden" name="requestId" value={{#request}}{{requestId}}{{/request}} />
        <button>Edit form</button>
    </form>
    <button formaction="newRequest" name="submit" formmethod="post" type="submit" value={{#request}}{{requestId}}{{/request}}>
        Edit
    </button>
    <a href="newRequest" methods="post">Edit</a>
</div>
<div>
    <a href="/">Back</a>
</div>
</body>
</html>